<!--#TODO-->
<!--#finish this-->
{% extends 'base.html' %}

{% block title %}New Contact{% endblock %}

{% block content %}
    <h2>
        {% if form.instance.pk %} Edit {% else %} New {% endif %} Contact
    </h2>
    <form method="post" class="scrollable-form ">
        {% csrf_token %}
        <div class="container">
            <div class="column">
                <p>title</p>
                <p>description</p>
                <p>author</p>
                <p>date_time</p>
                <p>attachment</p>
            </div>
            <div class="column">
                <p>{{ form.title }}</p>
                <p>{{ form.description }}</p>
                <p>{{ form.author }}</p>
                <p>{{ form.title }}</p>
                <p>{{ form.title }}</p>
            </div>
        </div>

<!--            {{ form.as_p }}-->
        <button type="submit">Save</button>
    </form>
{% endblock %}